*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&display=swap');
@font-face {
  font-family: Gopher;
  src: url('../src/font/Gopher-Black/Gopher-Black.ttf');
}

.font {

  font-family: gopher;
  font-size: 15em;
}

.title {
  font-family: Gopher;
  
 
}

.nft {
 
  border: 5px solid black;
  border-radius: 1em;
}

body {
  overflow-x: hidden;
}

.samples {
  width: 4.5em;
  border-radius: 10%;
  text-align: center;
  align-self: center;
  
}
/* 
mobile verion */

.text-font {
  font-family: 'Roboto Mono', monospace;
  line-height: 2;
}

@media screen and (max-width: 600px) {
  .font {
    font-size: 5em;
  }
  

  .leave {
    display: none;
  }

  .bar {
    background-color: rgba(0, 0, 0, 0.272) !important;
   
  }

  .move {
    bottom: -1  em !important;
  }

  .btn-store {
    display: absolute !important;
    bottom: 0;
    margin-top: 22em !important;


 

  }
}