*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Gopher;
  src: url('../src/font/Gopher-Black/Gopher-Black.ttf');
}

.font {

  font-family: gopher;
  font-size: 15em;
}

.title {
  font-family: Gopher;
  
 
}

.nft {
 
  border: 5px solid black;
  border-radius: 1em;
}